:root {
  --white: #fff;
  --black: #000;
  --grey: #acacac;
  --bule: #33424f;
  --yellow: #ffa500;
  --red: #ba1a1a;
  --grey02: #f5f5f5;
  --grey03: #ececec;
}
html.dark {
  --white: #000a16;
  --black: #fff;
  --grey: #e2e2e2;
  --bule: #d6d9dc;
  --yellow: #ffa500;
  --red: #ffb4ab;
  --grey02: #e9e7e7;
  --grey03: #ececec;
}
html,
body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  background-color: var(--white);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 13px;
  font-weight: 300;
}

li,
a {
  color: inherit;
  text-decoration: none;
  list-style: none;
}

.color-gray01 {
  background-color: #f5f5f5;
}
.color-gray02 {
  background-color: #e5e5e5;
}
.color-gray03 {
  background-color: #d5d5d5;
}
.color-gray04 {
  background-color: #a3a3a3;
}
.color-gray05 {
  background-color: #737373;
}
.color-gray06 {
  background-color: #525252;
}
.color-gray07 {
  background-color: #404040;
}
.color-gray08 {
  background-color: #262626;
}

.loadingBox .dim {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.loadingBox .circle {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border: 5px solid #fff;
  border-top: 5px solid var(--grey);
  border-radius: 50em;
  transition: all 0.2s;
  animation-name: spinCircle;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spinCircle {
  from {
    transform: translate(-50%, -50%) rotate(0);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.wrap {
  width: 100%;
  height: calc(100% - 50px);
  display: flex;
  flex-direction: column;
  background-color: #e5e9ed;
}

.search-pnl {
  border: none;
  padding: 15px;
  border-radius: 20px;
  border-top: 3px solid var(--grey);
  background-color: var(--white);
  margin: 10px;
  box-sizing: border-box;
  min-height: 77px;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.search-input {
  position: relative;
  width: 200px;
}
.search-input > img {
  bottom: 8px;
  position: absolute;
  right: 5px;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.search-input > input {
  font-size: 15px;
  color: #222222;
  width: 100%;
  border: none;
  border-bottom: solid #aaaaaa 1px;
  padding: 20px 5px 5px 5px;
  position: relative;
  background: none;
  z-index: 5;
}

.search-input > input::placeholder {
  color: #aaaaaa;
}
.search-input > input:focus {
  outline: none;
}

.search-input > span {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0%; /* right로만 바꿔주면 오 - 왼 */
  background-color: var(--black);
  width: 0;
  height: 2px;
  border-radius: 2px;
  transition: 0.5s;
}

.search-input > label {
  position: absolute;
  color: #aaa;
  left: 5px;
  font-size: 20px;
  bottom: 8px;
  transition: all 0.2s;
}

.search-input > input:focus ~ label,
.search-input > input:valid ~ label {
  font-size: 12px;
  bottom: 29px;
  color: var(--black);
  font-weight: bold;
}

.search-input > input:focus ~ span,
.search-input > input:valid ~ span {
  width: 100%;
}

.main {
  min-height: calc(100% - 50px);
  background-color: var(--white);
}

.index-page {
  padding: 100px 0px;
  height: calc(100% - 50px);
  overflow: hidden;
  position: relative;
}
.index-page .index-page-content {
  width: 100%;
  margin: 0px auto;
  max-width: 1236px;
  padding-top: 64px;
  padding-bottom: 64px;
}
.index-page .index-page-content h1 {
  color: var(--black);
  font-size: 45px;
  font-weight: bold;
}
.index-page .index-page-content h1 span {
  margin: 0px;
  font: inherit;
  letter-spacing: inherit;
  color: rgb(55, 125, 255);
  background: linear-gradient(transparent 82%, rgba(249, 185, 52, 0.3) 0%);
}

.index-page .index-page-content p {
  font-size: 20px;
  color: var(--grey);
  margin-top: 15px;
}

.index-page .index-page-image {
  width: 50%;
  height: 100%;
}

.index-page .index-page-image .thumbs {
  display: flex;
  height: 100%;
  gap: 10px;
  left: 50%;
  top: 5%;
  position: absolute;
  transform: rotate(-18deg) translateX(18%) translateY(-17%);
}
.index-page .index-page-image .thumbs li {
  flex: 1;
  min-width: 200px;
  height: 100%;
}
.index-page .index-page-image .thumbs li img {
  width: 100%;
  opacity: 0;
}

/*indeximg1, 2, 3이 시간차로 위에서 아래로 내려오는 에니메이션*/
@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.indeximg1 {
  padding-top: 0px;
  animation: slideDown 1s ease-out 0.6s forwards;
}

.indeximg2 {
  animation: slideDown 2s ease-out 0.3s forwards;
}

.indeximg3 {
  padding-top: 0px;
  animation: slideDown 1s ease-out 0.6s forwards;
}

.navbar {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid var(--grey02);
  height: 50px;
  background-color: var(--white);
}
.nav-menu {
  display: flex;
  gap: 20px;
}
.nav-menu a {
  color: var(--black);
  font-size: 16px;
}
.logo {
  font-size: 27px;
  font-weight: bold;
  color: var(--black);
  letter-spacing: -5.3px;
}
.nav-icon {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.nav-icon a {
  color: var(--black);
}
.nav-icon .darkmode {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.nav-icon .lightmode {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.login-btn {
  position: relative;
}
.login-btn:hover .login-info {
  display: block;
}
.login-btn .login-info {
  display: none;
  width: 300px;
  overflow: auto;
  background: var(--white);
  border-radius: 5px;
  padding: 10px;
  border: 1px solid var(--bule);
  position: absolute;
  top: 46px;
  right: -12px;
  z-index: 99;
}

.login-btn .login-info > div {
  /* 자동 줄바꿈 */
  word-wrap: break-word;
  color: var(--black);
}
.login-btn > button {
  background-color: transparent;
  color: var(--black);
  padding: 15px 0px;
  border: 0px;
  cursor: pointer;
}
.top-menu .top-menu-list a {
  font-size: 16px;
  padding: 0px 10px;
  color: var(--black);
}
.top-menu .top-menu-list a.on {
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 5px;
}
.main-layout {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  gap: 0px;
  min-height: calc(100% - 50px);
}

.main-layout .left-menu {
  height: 100%;
  padding: 10px 10px;
}
.main-layout.layout .main-content {
  background-color: var(--grey03);
  border-left: 1px solid var(--grey02);
}
.main-content {
  width: 100%;
  padding: 10px 10px;
}
.main-content .image-box img {
  border: 1px solid var(--grey02);
}

.main-content .code-box {
  padding: 2px 15px 15px 0px;
  background-color: var(--grey02);
  border-radius: 10px;
  margin: 15px 0px;
  min-height: 80px;
  border: 1px solid var(--white);
}

.code-box-container {
  position: relative;
}

.copy-button {
  position: absolute;
  top: 15px;
  right: 15px;
  border-radius: 10px;
  padding: 5px 10px;
  border: 1px solid var(--black);
  background-color: var(--white);
  cursor: pointer;
  color: var(--black);
}

.left-menu {
  width: 200px;
  flex-basis: 200px;
  flex-shrink: 0;
}

.left-menu-title {
  font-size: 24px;
  font-weight: bold;
  color: var(--black);
}

.left-menu-list ul {
  list-style: none;
}

.left-menu-list ul li {
  margin: 10px 0px;
  padding: 5px 0px;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.left-menu-list ul li:first-child {
  margin-top: 5px;
}
.left-menu-list ul li.on a {
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 5px;
}
.left-menu-list ul li a {
  text-decoration: none;
  color: var(--black);
  font-size: 14px;
  background-color: var(--white);
  z-index: 10;
  padding-right: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
}
.left-menu-list ul li:hover a {
  font-weight: bold;
  text-decoration: underline;
}

.left-menu-list ul li:hover:after {
  content: "👻";
  display: block;
  z-index: 10;
  padding-left: 10px;
  background-color: var(--white);
}

.components-list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.components-list > div {
  width: 257px;
  height: 170px;
  background-color: #f0f0f0;
  border: 1px solid var(--grey);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  position: relative;
  cursor: pointer;
}
.components-list > div > a {
  width: 100%;
  height: 100%;
}
.components-list-title {
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  text-shadow: 0px 0px 10px #252525, 0px 0px 8px #252525, 0px 0px 6px #252525,
    0px 0px 4px #252525, 0px 0px 2px #252525, 0px 0px 2px #252525;
}

.table {
  width: 100%;
  border-collapse: collapse;
}
.table th,
.table td {
  border: 0px solid #000000;
  padding: 4px 4px 4px 8px;
  position: relative;
}

.table thead th {
  font-weight: 600;
  padding: 4px 4px 4px 8px;
  background-color: var(--grey);
}
.table th {
  text-align: left;
}
.table th > span {
  background-color: var(--white);
  line-height: 0.9;
  display: inline-flex;
  align-items: center;
  position: relative;
  padding-left: 0;
  padding-right: 8px;
  z-index: 10;
  font-weight: 600;
  color: var(--black);
}
.table tbody th::before {
  display: block;
  content: "";
  position: absolute;
  left: 8px;
  top: calc(50% - 0px);
  width: calc(100% - 10px);
  height: 1px;
  border-top: 1px dotted var(--grey);
  z-index: 1;
}

header {
  width: 100%;
  min-height: 150px;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 20px;
  border-top: 3px solid var(--grey);
  background-color: var(--white);
}
main {
  width: 100%;
  padding: 10px;
  min-height: 300px;
  border-radius: 8px 8px 0px 0px;
  border: 0px solid var(--na-sys-light-outline-variant);
  background-color: var(--white);
}
footer {
  max-width: 1280px;
  margin: 15px auto 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: var(--white);
  border-top: 1px solid #c9c9c9;
  padding: 0px 15px;
}
footer .footer-menu {
  width: 100%;
  display: flex;
  align-items: center;
  height: 100%;
}

footer .footer-menu ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .footer-menu li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
footer .footer-menu li button {
  padding: 7px 16px;
  font-size: 12px;
  background-color: #33424f;
  color: var(--white);
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.color-box .color-list {
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

/* 글씨 그림자 효과 */
.color-box .color-list li {
  width: 115px;
  height: 170px;
  border: 1px solid var(--grey02);
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0 0 10px rgba(255, 255, 255, 1);
  border-radius: 10px;
}

/*버튼 css*/
.button-box {
  display: flex;
  gap: 10px;
}
.button-box-title {
  width: 100%;
  margin: 40px 0px 10px 0px;
  font-size: 20px;
  color: var(--black);
  font-weight: 600;
}
.button-box-title:first-child {
  margin: 0px 0 10px 0px;
}

.toggleSwitch {
  width: 40px;
  height: 25px;
  display: block;
  position: relative;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0 0 16px 3px rgba(0 0 0 / 15%);
  cursor: pointer;
  margin: 0px 0px;
}

.toggleSwitch .toggleButton {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #f86480;
}

#toggle:checked ~ .toggleSwitch {
  background: #f86480;
}

#toggle:checked ~ .toggleSwitch .toggleButton {
  left: calc(100% - 24px);
  background: #fff;
}

.toggleSwitch,
.toggleButton {
  transition: all 0.2s ease-in;
}

.chk_box {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  min-width: 20px;
  height: 20px;
}

/* 기본 체크박스 숨기기 */
.chk_box input[type="checkbox"] {
  display: none;
  transition: all 0.2s ease-in;
}

/* 선택되지 않은 체크박스 스타일 꾸미기 */
.chk_box .on {
  width: 20px;
  height: 20px;
  background: #ddd;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
}
.chk_box .check-box-text {
  padding-left: 25px;
}
/* 선택된 체크박스 스타일 꾸미기 */
.chk_box input[type="checkbox"]:checked + .on {
  background: #f86480;
}

.chk_box .on:after {
  content: "";
  position: absolute;
  display: none;
}

.chk_box input[type="checkbox"]:checked + .on:after {
  display: block;
}
.chk_box input[type="checkbox"] + .on:after {
  width: 6px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  left: 6px;
  top: 2px;
}
.chk_box input[type="radio"] + .on {
  border-radius: 20px;
}
.chk_box input[type="radio"] {
  display: none;
  transition: all 0.2s ease-in;
}
.chk_box input[type="radio"]:checked + .on {
  background: #ddd;
  border: 6px solid #f86480;
}
.chk_box input[type="radio"]:checked + .on:after {
  display: block;
}

.button-search {
  padding: 5px 10px;
  margin-top: 10px;
  min-width: 80px;
  height: 35px;
  border-radius: 50px;
  border: 1px solid var(--black);
  color: var(--black);
  background: transparent;
  cursor: pointer;
  border: 1px solid var(--bule);
  background-color: var(--bule);
  color: var(--white);
}

.button-default {
  padding: 5px 10px;
  border-radius: 50px;
  border: 1px solid var(--black);
  color: var(--black);
  background: transparent;
  cursor: pointer;
}

.button-default.success {
  border: 1px solid var(--bule);
  background-color: var(--bule);
  color: #ffffff;
}

.button-default.warning {
  border: 1px solid var(--yellow);
  background-color: var(--yellow);
  color: #ffffff;
}

.button-default.error {
  border: 1px solid var(--red);
  background-color: var(--red);
  color: #ffffff;
}

.chart-box-container {
  display: flex;
  flex-wrap: wrap;
}

.comment-box {
  width: 100%;
  border: 1px solid var(--grey);
  padding: 15px;
  border-radius: 5px;
  background-color: var(--white);
}
.comment-item {
  width: 100%;
  display: flex;
  padding: 4px 0px;
  border-bottom: 1px solid var(--grey03);
}

.comment-item .comment-item-content {
  color: var(--black);
  flex: 1;
}
.comment-item .comment-item-date {
  width: 150px;
  text-align: right;
  padding: 0px 10px;
}

.comment-input-box {
  margin-top: 15px;
  display: flex;
  gap: 20px;
}
.comment-input-box input {
  padding: 5px 10px;
  flex: 1;
}
